PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/arch?schema=public

SESSION_COOKIE_NAME=arch_session
SESSION_TTL_DAYS=7

WEB_APP_URL=http://localhost:3001

APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=dev-hpcvpnexga2eori3.us.auth0.com
AUTH0_CLIENT_ID=4FbmV1NawieQhhiXmRXgPrxNEtaPJd59
AUTH0_CLIENT_SECRET=So7WRdc0iL5lxI4ZTv5c0YYuBU_kDE0pbyyj38gleVcc0BuN2fXjpjk5K2uppnom

# 64 character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production,
# generate your own secret using `openssl rand -hex 32`
AUTH0_SECRET=9e2420f38786128cf98d1cec78755bd61c4ec3bf65718ca8156d12e0ca0fb899


# Used only by prisma/seed.ts to create a local dev user
SEED_USER_EMAIL=dev@example.com
SEED_USER_PASSWORD=changeme123
